<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>引き算</title>
</head>
<body>
	<h1>引き算</h1>
    <form action="/minus" method="post">
        <input type="text" name="num1" placeholder="Enter number 1" required>
        <span> &minus; </span>
        <input type="text" name="num2" placeholder="Enter number 2" required>
        <button type="submit">&equals;</button>
    </form>
    <br>
    <p th:if="${result != null}"><span th:text="${result}"></span></p>
</body>
</html>